body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(68, 68, 63);
}
h1 {
  text-align: center;
}

#gameCanvas {
  width: 960px;
  height: 576px;
  border: 1px solid black;
  image-rendering: pixelated;
}
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#toggleLineOfSight,
#togglePath {
  margin: 5px;
  padding: 5px 20px;
  border: none;
  background-color: #a3a0a0;
  cursor: pointer;
  transition: all 0.3s ease;
}

#toggleLineOfSight.active,
#togglePath.active {
  background-color: #eee;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
